    <mat-card class="example-card">

        <div id="img" [ngStyle] = "{'background-image': 'url('+film.poster +')'}"></div>

        <mat-card-header>
        <section>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </section>
        </mat-card-header>
        <section class="list-group-item">

       </section>
        <mat-card-content class ="panel-group">

           <section class="list-group-item panel panel-info">
              <div class="panel-heading">Tytuł</div>
              <div class="panel-body">{{film.tytul}}</div>
            </section>

            <section class="list-group-item panel panel-info">
              <div class="panel-heading">Produkcja</div>
              <div class="panel-body">{{film.produkcja}}</div>
            </section>

            <section class="list-group-item panel panel-info">
              <div class="panel-heading">Premiera</div>
              <div class="panel-body">{{film.premiera}}</div>
            </section>

            <section class="list-group-item panel panel-info">
              <div class="panel-heading">Gatunek</div>
              <div class="panel-body">{{film.gatunek}}</div>
            </section>

            <section class="list-group-item panel panel-info">
              <div class="panel-heading">Reżyser</div>
              <div class="panel-body">{{film.rezyser}}</div>
            </section>

            <section class="list-group-item panel panel-info">
              <div class="panel-heading">Aktorzy</div>
              <div class="panel-body">{{film.aktorzy}}</div>
            </section>

            <section class="list-group-item panel panel-info">
                <div class="panel-heading">Opis</div>
                <div class="panel-body">{{film.opis}}</div>
              </section>

            <section class="list-group-item panel panel-info">
              <div class="panel-heading">Ocena</div>
              <div class="panel-body">{{film.ocena}}</div>
            </section>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-star"></span> Zostaw ocene
          </button>
          <button mat-button class="btn btn-info btn-lg" (click)="onZapiszClick()">
            <span class="glyphicon glyphicon-star"></span> Zapisz w bazie
        </button>
        <button mat-button class="btn btn-info btn-lg" (click)="onUsunClick()">
          <span class="glyphicon glyphicon-star"></span> Usuń z bazy
      </button>
        </mat-card-actions>
      </mat-card>




