<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
<nav class="navbar navbar-inverse">
    <span class="navbar-brand">
        Welcome to {{ title }}!
    </span>
  <a class="navbar-brand" [routerLink]="[ '/', routeParam ]">Strona główna</a>
  <a class="navbar-brand" [routerLink]="[ '/wyszukaj', routeParam ]">Wyszukiwarka</a>
  <a class="navbar-brand" [routerLink]="[ '/nowy-film', routeParam ]">Dodaj nowy film</a>

</nav>

  <h1>
    Welcome to {{ title }}!
  </h1>

<app-films></app-films>
<router-outlet></router-outlet>
