<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
<nav class="navbar navbar-inverse">
    <span class="navbar-brand">
        Welcome to {{ title }}!
    </span>
  <a class="navbar-brand" [routerLink]="[ '/']">Strona główna</a>
  <a class="navbar-brand" [routerLink]="[ '/wyszukaj']">Wyszukiwarka</a>
  <a class="navbar-brand" [routerLink]="[ '/nowy']">Dodaj nowy film</a>

</nav>

  <h1>
    Welcome to {{ title }}!
  </h1>
  <router-outlet></router-outlet>
  
<!-- <app-films></app-films> -->

